html
  head
    title Adding
    link(rel='stylesheet', href='/css/bootstrap.min.css')

  body
    //- navbar
    ul.nav.nav-pills.nav-fill
      li.nav-item
        a.nav-link(href='http://localhost:3000') Home
      li.nav-item
        a.nav-link(href='http://localhost:3000/users') Users
      li.nav-item
        a.nav-link(href='http://localhost:3000/articles') Articles
      li.nav-item
        a.nav-link.active(href='http://localhost:3000/inventories') Inventories

    .card.bg-dark.text-white
      img.card-img(src='/images/market_background.jpg', alt='background')
      .card-img-overlay.col.col-lg-8.offset-lg-2
        form(method='POST', action=`/inventories`)
          .form-row
            .form-group.col-md-3
              label(for='id') Article ID
              input#inputFirstname.form-control(type='text', name="id", placeholder=`Article ID`)
          .form-row
            .form-group.col-md-3
              label(for='quantity') Quantity
              input#inputFirstname.form-control(type='text', name="quantity", placeholder=`quantity`)
          button.btn.btn-primary(type='submit') Add