html
  head
    title Inventory
    link(rel='stylesheet', href='/css/bootstrap.min.css')

  body
    //- navbar
    ul.nav.nav-pills.nav-fill
      li.nav-item
        a.nav-link(href='http://localhost:3000') Home
      li.nav-item
        a.nav-link(href='http://localhost:3000/users') Users
      li.nav-item
        a.nav-link(href='http://localhost:3000/articles') Articles
      li.nav-item
        a.nav-link.active(href='http://localhost:3000/inventories') Inventories

    .card.bg-dark.text-white
      img.card-img(src='/images/market_background.jpg', alt='background')
      .card-img-overlay.col.col-lg-8.offset-lg-2
        table.table.table-striped.table-dark
          thead
            tr
              th(scope='col') #
              th(scope='col') Name
              th(scope='col') Updated at
              th(scope='col') Created at
              th
                button.btn.btn-primary(type = 'button'  onclick=`window.location.href='http://localhost:3000/inventories/add'`) +


          tbody
          each inventory in inventories
            tr
              th(scope='row')= inventory.inventory_id
              td= inventory.name
              td= inventory.updated_at.toLocaleString("fr-FR")
              td= inventory.created_at.toLocaleString("fr-FR")
              td
              td
                button.btn.btn-info(type = 'button'  onclick=`window.location.href='http://localhost:3000/inventories/${inventory.inventory_id}'`) UPDATE
        
                //- button.btn.btn-secondary(type='button', onclick=`window.location.href='http://localhost:3000/users/${user.user_id}'`,data-method='DELETE') Modify

              //- td
              //-   button.btn.btn-secondary(type='button', onclick=`window.location.href='http://localhost:3000/inventories?inventoryid=${inventory.inventory_id}'`,data-method='DELETE') update
              