html
  head
    title Inventory_article
    link(rel='stylesheet', href='/css/bootstrap.min.css')

  body
    //- navbar
    ul.nav.nav-pills.nav-fill
      li.nav-item
        a.nav-link(href='http://localhost:3000') Home
      li.nav-item
        a.nav-link(href='http://localhost:3000/users') Users
      li.nav-item
        a.nav-link(href='http://localhost:3000/articles') Articles
      li.nav-item
        a.nav-link.active(href='http://localhost:3000/inventories') Inventories

    .card.bg-dark.text-white
      img.card-img(src='/images/market_background.jpg', alt='background')
      .card-img-overlay.col.col-lg-8.offset-lg-2
        table.table.table-striped.table-dark
          thead
            tr
              th(scope='col') #
              th(scope='col') Name
              th(scope='col') Quantity
              th(scope='col') price


          tbody
          each article in articles
            tr
              th(scope='row')= article.article_id
              td= article.name
              td= article.quantity
              td= article.price +'€ '
              td
                form(method='POST', action=`/inventories/${inventory_id}/${article.article_id}?_method=DELETE`)
                  button.btn.btn-danger(type='submit') DELETE