html
  head
    title Adding
    link(rel='stylesheet', href='/css/bootstrap.min.css')

  body
    //- navbar
    ul.nav.nav-pills.nav-fill
      li.nav-item
        a.nav-link(href='http://localhost:3000') Home
      li.nav-item
        a.nav-link.active(href='http://localhost:3000/users') Users
      li.nav-item
        a.nav-link(href='http://localhost:3000/articles') Articles
      li.nav-item
        a.nav-link(href='http://localhost:3000/inventories') Inventories

    .card.bg-dark.text-white
      img.card-img(src='/images/market_background.jpg', alt='background')
      .card-img-overlay.col.col-lg-8.offset-lg-2
        form(method='POST', action=`/users`)
          .form-row
            .form-group.col-md-3
              label(for='firstname') Firstname
              input#inputFirstname.form-control(type='text', name="firstname", placeholder=`Firstname`)
            .form-group.col-md-3
              label(for='lastastname') Lastname
              input#inputLastname.form-control(type='text', name="lastname",  placeholder=`Lastname`)
            .form-group.col-md-3
              label(for='password') Password
              input#inputPassword.form-control(type='text',name="password",  placeholder=`password`)
            .form-group.col-md-3
              label(for='budget') Budget
              input#inputBudget.form-control(type='text',name="budget" placeholder=`budget`)
          button.btn.btn-primary(type='submit') Add