html
  head
    title MyUsers
    link(rel='stylesheet', href='/css/bootstrap.min.css')

    //- navbar
    ul.nav.nav-pills.nav-fill
      li.nav-item
        a.nav-link(href='http://localhost:3000') Home
      li.nav-item
        a.nav-link.active(href='http://localhost:3000/users') Users
      li.nav-item
        a.nav-link(href='http://localhost:3000/articles') Articles
      li.nav-item
        a.nav-link(href='http://localhost:3000/inventories') Inventories

    //- background and tab
    .card.bg-dark.text-white
      img.card-img(src='/images/market_background.jpg', alt='background')
      .card-img-overlay.col.col-lg-8.offset-lg-2
        //- searching by id
        form(method='POST', action=`/users/byId`)
          .form-row.align-items-center
            .col-auto
              label.sr-only(for='inlineFormInput')
              input#inlineFormInput.form-control.mb-2(type='text', name="ID", placeholder='Search by ID')
            .col-auto
            button.btn.btn-primary.mb-2(type='submit') Search
        table.table.table-striped.table-dark
          thead
            tr
              th(scope='col') #
              th(scope='col') Firstname
              th(scope='col') Lastname
              th(scope='col') Budget
              th(scope='col') Created at
              th(scope='col') Connected at
              th
              th
                button.btn.btn-primary(type = 'button'  onclick=`window.location.href='http://localhost:3000/users/add'`) +


          //- all users
          tbody
          each user in users
            tr
              th(scope='row')= user.user_id
              td= user.firstname
              td= user.lastname
              td= user.budget
              td= user.created_at.toLocaleString("fr-FR")
              td= user.connected_at.toLocaleString("fr-FR")
              td
                form(method='POST', action=`/users/${user.user_id}?_method=DELETE`)
                  button.btn.btn-danger(type='submit') DELETE
              td
                button.btn.btn-info(type = 'button'  onclick=`window.location.href='http://localhost:3000/users/${user.user_id}/edit'`) EDIT
