html
  head
    title Adding
    link(rel='stylesheet', href='/css/bootstrap.min.css')

  body
    //- navbar
    ul.nav.nav-pills.nav-fill
      li.nav-item
        a.nav-link(href='http://localhost:3000') Home
      li.nav-item
        a.nav-link(href='http://localhost:3000/users') Users
      li.nav-item
        a.nav-link.active(href='http://localhost:3000/articles') Articles
      li.nav-item
        a.nav-link(href='http://localhost:3000/inventories') Inventories

    .card.bg-dark.text-white
      img.card-img(src='/images/market_background.jpg', alt='background')
      .card-img-overlay.col.col-lg-8.offset-lg-2
        form(method='POST', action=`/articles`)
          .form-row
            .form-group.col-md-3
              label(for='name') Name
              input#inputLastname.form-control(type='text', name="name",  placeholder=`name`)
            .form-group.col-md-3
              label(for='password') Price
              input#inputPassword.form-control(type='text',name="price",  placeholder=`price`)
            .form-group.col-md-3
          button.btn.btn-primary(type='submit') Add
