html
  head
    title Editing #{article.article_id}
    link(rel='stylesheet', href='/css/bootstrap.min.css')

  body
    //- navbar
    ul.nav.nav-pills.nav-fill
      li.nav-item
        a.nav-link(href='http://localhost:3000') Home
      li.nav-item
        a.nav-link(href='http://localhost:3000/users') Users
      li.nav-item
        a.nav-link.active(href='http://localhost:3000/articles') Articles
      li.nav-item
        a.nav-link(href='http://localhost:3000/inventories') Inventories

    .card.bg-dark.text-white
      img.card-img(src='/images/market_background.jpg', alt='background')
      .card-img-overlay.col.col-lg-8.offset-lg-2
        form(method='POST', action=`/articles/${article.article_id}?_method=PUT`)
          .form-row
            .form-group.col-md-3
              label(for='articleName') Name
              input#articleName.form-control(type='text', name="name", value=`${article.name}`)
            .form-group.col-md-3
              label(for='articlePrice') Price
              input#articlePrice.form-control(type='text', name="price",  value=`${article.price}`)
              
          button.btn.btn-primary(type='submit') Edit

  
