html
  head
    title MyArticles
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(href='//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css', rel='stylesheet')


  body
    ul.nav.nav-pills.nav-fill
      li.nav-item
        a.nav-link(href='http://localhost:3000') Home
      li.nav-item
        a.nav-link(href='http://localhost:3000/users') Users
      li.nav-item
        a.nav-link.active(href='http://localhost:3000/articles') Articles
      li.nav-item
        a.nav-link(href='http://localhost:3000/inventories') Inventories
        
      //- background-image  
      .card.bg-dark.text-white
        img.card-img.mx-auto(src='/images/market_background.jpg', alt='background')
        .card-img-overlay.col.col-lg-8.offset-lg-2

          //- searching by id
          form(method='POST', action=`/articles/articleId`)
            .form-row.align-items-center
              .col-auto
                label.sr-only(for='inlineFormInput')
                input#inlineFormInput.form-control.mb-2(type='text', name="articleId", placeholder='By article_id')
              .col-auto
              button.btn.btn-primary.mb-2(type='submit')
                i.fa.fa-search
                |  Search

          //- Articles's Table
          table.table.table-striped.table-dark.text-center
            thead
              tr
                th(scope='col') 
                  i.fa.fa-key
                  |  ID
                th(scope='col')
                  i.fa.fa-bars
                  |  Name
                th(scope='col') 
                  i.fa.fa-money
                  |  Price
                th(scope='col') 
                  i.fa.fa-calendar-plus-o
                  |  Update_at
                //- Button Add a new article
                  //-TO DO
                th
                  button.btn.btn-success(type = 'button' onclick=`window.location.href='http://localhost:3000/articles/add'`) 
                    i.fa.fa-plus-circle
                    |  Add

            tbody
            each article in articles
              tr
                th(scope='row')= article.article_id
                td= article.name
                td= article.price+" €"
                td= article.update_at.toLocaleString("fr-FR")
                
                td
                  form(method='POST', action=`/articles/${article.article_id}?_method=DELETE`)
                    .form-row.align-items-center
                      .col-auto
                        button.btn.btn-danger(type='submit')
                          i.fa.fa-trash-o
                          //- |  DELETE
                      .col-auto.offset-4
                        button.btn.btn-info(type = 'button'  onclick=`window.location.href='http://localhost:3000/articles/${article.article_id}/edit'`)
                          i.fa.fa-pencil-square-o
                          //- |  EDIT
