html
  head
    title Market
    link(rel='stylesheet', href='/css/bootstrap.min.css')

    //- navbar
    ul.nav.nav-pills.nav-fill
      li.nav-item
        a.nav-link.active(href='http://localhost:3000') Home
      li.nav-item
        a.nav-link.disabled(href='http://localhost:3000/users') Users
      li.nav-item
        a.nav-link.disabled(href='http://localhost:3000/articles') Articles
      li.nav-item
        a.nav-link.disabled(href='http://localhost:3000/inventories') Inventories

    //- background and tab
    .card.bg-dark.text-white
      img.card-img(src='/images/market_background.jpg', alt='background')
      .card-img-overlay.col.col-lg-8.offset-lg-2
        //- authentification
        form.form-signinm(method='POST', action=`/`)
          h1.h3.mb-3.font-weight-normal.text-light.bg-dark Please sign in to prove you're Admin
          label.sr-only(for='inputUsername') Your Username
          input#inputUSernamel.form-control(type='text', name='username' placeholder='Username', required='', autofocus='')
          label.sr-only(for='inputPassword') Password
          input#inputPassword.form-control(type='password', placeholder='Password', required='')
          .checkbox.mb-3
          button.btn.btn-lg.btn-primary.btn-block(type='submit') Sign in
          p.mt-5.mb-3.text-muted © 2017-2019
            


