html
  head
    title Market
    link(rel='stylesheet', href='/css/bootstrap.min.css')

    //- navbar
    ul.nav.nav-pills.nav-fill
      li.nav-item
        a.nav-link.active(href='http://localhost:3000') Home
      li.nav-item
        a.nav-link(href='http://localhost:3000/users') Users
      li.nav-item
        a.nav-link(href='http://localhost:3000/articles') Articles
      li.nav-item
        a.nav-link(href='http://localhost:3000/inventories') Inventories

    //- background and tab
    .card.bg-dark.text-white
      img.card-img(src='/images/market_background.jpg', alt='background')
      .card-img-overlay.col.col-lg-8.offset-lg-2
        h1.display-1.text-center.bg-info Welcome back #{username}

        


